<body>
    <div class="titulo">
        <h1>KNG: Administrador de proyectos BETA</h1>
    </div>
    <div class="subtitulo">
        <p>Felicidades tu cuenta fue creada</p>
        <a href="/login">
            <p>Haz click aqui para iniciar sesion</p>
        </a>
    </div>

    
</body>