<div class="contenedor404">
    <div class="cont">
        <img src="/images/error.jpg" alt="">
        <div class="oopsText">
             <h2 class="oops">
            Oops!
        </h2>
        <h3 class="txtError">Algo no salió como lo esperabamos</h3>
        <h4 class="txtError">No pudimos encontrar el directorio especificado</h4>
        <h4 class="txtError">O intentaste acceder sin credenciales</h4>
        <br>
        <h3 class="txtError">Logeate denuevo y vuelve a intentarlo :D</h3>
      
            <a href="/login"><h4 class="btnMenu btnError">Iniciar Sesion</h4></a>
       
        
        </div>
       
    </div>

</div>

