<header>
    <div class="menuBtns">
        <a href="/login"><h4 class="btnMenu">Iniciar Sesion</h4></a>
        <a href="/register"><h4 class="btnMenu">Registrase</h4></a>
    </div>
</header>
<body>
    <div class="titulo">
        <h1>KNG: Administrador de proyectos BETA</h1>
    </div>
    <section class="mainIndex">
        <section class="portada">
        <img src="/images/chat.png" alt="imagen no encontrada">
        <div class="infoPortada">
            <h2>ADMINISTRA EFICIENTEMENTE TU PROYECTO</h2>
            <p>Chats grupales para llevar un mejor control</p>
            <p>de las actividades realizadas y a realizar por proyecto </p>
        </div>
    </section>

    <section class="portada portada2">
        <div class="infoPortada">
            <h2>CREA O UNETE A PROYECTOS</h2>
            <p>En estos proyectos vas a poder enviar mensajes a los integrantes</p>
                <p> del proyecto en las #solapas que preparamos para ti</p>
        </div>
        <img src="/images/canales.png" alt="imagen no encontrada">
    </section>
    </section>
    
    
    
    <section class="dispositivos">
        <h2>Disponible en todos tus dispositivos</h2>
        <div class="dispostivos-dips">
            <div class="disp">
                <img src="/images/pc.png" alt="imagen no encontrada">
                <h2>Computadoras</h2>
                <p>Windows</p>
                <p>MACOS</p>
                <p>Linux</p>
                <p>Chrome OS</p>
            </div>

            <div class="disp">
                <img src="/images/celu.png" alt="imagen no encontrada">
                <h2>Celulares</h2>
                <p>Android OS</p>
                <p>iOS</p>
                <p>Windows Phones</p>
            </div>

            <div class="disp">
                <img src="/images/celu.png" alt="imagen no encontrada">
                <h2>Tablets</h2>
                <p>Android OS</p>
                <p>iOS</p>
                <p>Chrome OS</p>
            </div>

        </div>
    </section>
</body>


