{{#if existe}}
  <h2 class="proyecto server1">No existe un proyecto con ese nombre</h2>
{{/if}}

{{#if error}}
  <h2 class="proyecto server1">Tu usuario ya pertence a un proyecto</h2>
  <h2 class="proyecto server1">Abandonelo y vuelva a intentar</h2>
{{/if}}



{{#if errorPasw}}
  <h2 class="proyecto server1">Contraseña Incorrecta</h2>
{{/if}}

{{#if ok}}
  <h2 class="proyecto server1">¡Felicidades te haz unido al proyecto!</h2>

{{/if}}

